.App {
  text-align: center;
}

.App-header {
  background-color: #7D9A6B;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.subheading {
  margin-bottom: 20px;
}

.App-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%; /* Increase width to 90% */
  max-width: 2200px;
  height: calc(100vh - 100px); /* Adjust height to fit the screen */
  overflow: auto; /* Ensure content is scrollable if it overflows */
  padding-top: 20px;
}

.toggle-button-container {
  margin-top: 20px; /* Add space above the toggle button */
}

.toggle-button {
  background-color: #61dafb;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;  
}

.toggle-button:hover {
  background-color: #21a1f1;
}

/* Colors for the login component */
.login-container {
  background-color: rgb(45, 37, 37);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-input {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-button {
  background-color: #61dafb;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #21a1f1;
}